#advancedPanel {
    box-sizing: border-box;
    width: 350px;
    padding: 40px;
    height: 100%;
    background-color: #bad6dd;
    font-family: "IBM Plex Sans";
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #69809e transparent;
}

#at {
    cursor: pointer;
}

#advancedPanel h2 {
    display: flex;
    justify-content: space-between;
}

#closeAdv {
    color: #69809e;
    cursor: pointer;
    vertical-align: -0.5em;
}

.div {
    background-color: #9fbaca;
    height: 2px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

ul#timelist {
    margin-top: 8px;
    background-color: #9fbaca;
    border-radius: 0.8em;
    list-style-type: none;
    padding-left: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 24px;
    max-height: 200px;
    overflow-y: auto;
    border-bottom: #9fbaca 2px solid;
    border-top: 2px solid #9fbaca;
    scrollbar-width: thin;
}

ul#timelist li {
    background-color: #bad6dd;
    padding: 8px;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 0.3s;
}

ul#timelist li:hover {
    background-color: oklch(from #bad6dd calc(l + 0.03) c h);
    transform: scale(1.01);
}

#tbtnr {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#tbtnr button {
    width: 100%;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 1em;
    font-family: "IBM Plex Sans";
    border-radius: 0.8em;
    transition: 0.3s;
    background-color: #9fbaca;
    color: black;
    border: #69809e 1px solid;
}

#tbtnr button:hover {
    transform: scale(1.01);
    filter: brightness(1.05)
}

#tbtnr button .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
    vertical-align: -0.25em;
}

.copyable.copied {
    opacity: 0.5;
}